body{
    font-family: "Fjalla One";
    font-size: larger;
    background-color: Dodgerblue;
    margin: 0;
    padding: 0;
}

header{
    color: white;
    background-color: Black;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

h1{
    margin: 0px;
    padding: 15px;
}

/*Estilização do menu*/
nav{
    background-color: rgba(0, 0, 0, 0.705);
    padding:20px;
    text-align: center;

}

nav ul li{
    list-style-type: None;
    display: inline-block;
    margin-right: 10px;
    padding: 0;

}

nav ul li a{
    color: black;
    text-decoration: None;
    padding: 5px;
    color: Dodgerblue;
    transition: font-size 0.6s;
}

nav ul li a:hover{
    color:Lightgreen;
    font-size: 21px;
}

nav a{
    text-align: center;
}
/*Estilização de todas as sections*/
#inicio, #projetos, #sobre, #contato, footer{
    padding: 15px;
    margin: 3% 0px;
    background-color: rgba(0, 0, 0, 0.561);
    color: Snow;
}
section > h2{
    color: #94ba65;
}

/*Estilização da aba Sobre mim*/
#sobre dl{
    color: #94ba65;
}
#sobre dd{
    color: Snow;
    margin: 15px;
}
#sobre dt{
    color: Lightblue;
}
/*Estilização da aba dos projetos*/
#projetos{
    text-align: center;
    background-color: #94ba65;
}
#projetos > h2{
    color: Black;
}
div#projects{
    display: flex;
    flex-direction: line;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

#projects div{
    text-align: center;
    color: Dodgerblue;
    background-color: Black;
    margin: 15px;
    width: 500px;
    border-radius: 5px;
}

section#projects img{
    border-radius: 5px;
    margin: 15px;
}

section#projects a{
    margin: 40%;
    background-color: azure;
    text-decoration: None;
    padding: 15px;
}

input[type=button]{
    width: 70%;
    padding: 10px;
    margin: 15px;
    border: None;
    border-radius: 10px;
    font-family: "Fjalla One";
    color: Snow;
    background-color: Dodgerblue;
}
/*Estilizando o contato*/
#contato input, textarea{
    background-color: lightblue;
    border: None;
    border-radius: 7px;
    padding: 5px;
    width: 15em;
}
#contato input[type=submit]{
    margin-top: 15px;
    font-family: "Fjalla One";
    transition: color 1.5s backgroundcolor 1.5s;
}
#contato input[type=submit]:hover{
    background-color:#94ba65;
    color: Dodgerblue;
}
/*Estilizando o footer*/
footer{
    background-color: Black;
    text-align: center;
    padding: 0;
    margin: 0;
}

footer ul{
    list-style-type: none;
    display:inline-flex ;
    padding: 15px;
}

footer h3{
    padding-top: 20px;
}
ul li a{
    margin: 1px 15px;
    text-decoration: none;
    color: #94ba65;
    transition: color 0.5s;
}
ul li a:hover{
    color: Lime;
}

